input,
select,
textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: $primary-color;
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;

  //   chrome opera safari
  &::-webkit-input-placeholder {
    color: #fff;
  }

  //   firefox 19
  &::-moz-placeholder {
    color: #fff;
  }

  //   Internet Explorer 10

  &:-ms-input-placeholder {
    color: #fff;
  }

  //   firefox 18

  &:-moz-placeholder {
    color: #fff;
  }
  &.error {
    border-bottom: 1px solid #f00;
  }
}

textarea {
  height: 100px;
}
